::-moz-selection {
  background: #5F74E7;
  color: #FAEEE4;
}

::selection {
  background: #5F74E7;
  color: #FAEEE4;
}

h3 {
  font-family: $font-family-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;

  @media (hover: none) {
    a {
      text-decoration: underline;
    }
  }

  a {
    transition: background-color 1.5s linear;
  }

  &:hover {
    a {
      background-color: rgba(255, 255, 255, 0.5);
      transition: background-color 0.2s linear;
    }
  }

  @include media-query($on-tablet-portrait) {
    & {
      font-size: 1.8rem;
      line-height: 1.5;
    }
  }

  @include media-query($on-tablet-landscape) {
    & {
      font-size: 2.1rem;
    }
  }

  @include media-query($on-laptop) {
    & {
      font-size: 2.3rem;
      line-height: 1.4;
    }
  }

  @include media-query($on-desktop) {
    & {
      font-size: 2.7rem;
    }
  }
}

.sidebar {
  * {
    line-height: 1.5;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: $font-family-bold;
    font-weight: normal;
  }

  h1 {
    font-size: 1.1rem;
  }

  h2 {
    font-family: $font-family-default;
    font-weight: normal;
  }

  hgroup {
    a {
      &:hover, &:focus {
        color: $color-default;
      }
    }
  }

  * {
    font-size: 1rem;

    @include media-query($on-tablet-portrait) {
      & {
        font-size: 1rem;
      }
    }

    @include media-query($on-tablet-landscape) {
      & {
        font-size: 1rem;
      }
    }
  }
}

.page-content {
  ul:not(.nolist) {
    margin: $spacing / 2 0 $spacing / 2 $spacing / 2;

    li {
      padding: 0.2em 1em 0.2em 1.5em;
      list-style-position: inside;
      text-indent: -1.4em;
      line-height: 1.5em;

      &:before {
        content: "–";
        color: $color-default;
        margin-right: 0.75em;
      }
    }
  }

  h1, h2, h4, h5, h6 {
    font-family: $font-family-bold;
    font-weight: normal;
  }

  h4 {
    @include media-query($on-tablet-landscape) {
      & {
        margin-top: $spacing * 1.5;
        margin-bottom: $spacing / 3;
        font-size: 1.3rem;
        line-height: 1.6;
      }
    }
  }

  h5 {
    @include media-query($on-tablet-landscape) {
      & {
        margin-top: $spacing * 1.5;
        margin-bottom: $spacing / 2;
        font-size: 1.2rem;
        line-height: 1.3;
      }
    }
  }

  p, ul, address {
    font-size: 1rem;
    max-width: 40em;
    margin-bottom: 0.5em;
    max-width: 700px;

    em {
      font-family: $font-family-italic;
      font-style: normal;
      font-weight: normal;
    }

    @include media-query($on-tablet-portrait) {
      & {
        font-size: 1.2rem;
      }
    }

    @include media-query($on-tablet-landscape) {
      & {
        font-size: 1.2rem;
        line-height: 1.4;
      }
    }

    a {
      border-bottom: 1px solid #5F74E7;
      // color: #FE4365;
      // background-color: rgba(255, 255, 255, 0.5);

      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}

a {
  color: $color-default;
  transition-duration: 0.1s;

  &:hover, &:focus {
    background-color: #5F74E7 !important;
    color: #FAEEE4;
    text-decoration: none;
  }
}