::-moz-selection {
  background: #5F74E7;
  color: #FAEEE4;
}

::selection {
  background: #5F74E7;
  color: #FAEEE4;
}

h3 {
  font-family: $font-family-serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1.4;
}

a {
  color: $color-default;
}

.sidebar {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 0.9rem;
  }

  h2 {
    font-weight: normal;
  }

  * {
    font-size: 0.8rem;
  }
}


a {
  &:hover, &:focus {
    background-color: #5F74E7;
    color: #FAEEE4;
  }
}

p {
  font-size: 1.3rem;

  a {
    text-decoration: underline;

    &:hover, &:focus {
      background-color: #5F74E7;
      color: #FAEEE4;
      text-decoration: none;
    }
  }
}