::-moz-selection {
  background: #5F74E7;
  color: #FAEEE4;
}

::selection {
  background: #5F74E7;
  color: #FAEEE4;
}

h3 {
  font-family: $font-family-serif;
  font-size: 1.5rem;
  font-weight: $font-weight-default;
  font-style: italic;
  line-height: 1.4;

  a {
    text-decoration: underline;
    transition: background-color 1.5s linear;
  }

  &:hover {
    a {
      background-color: rgba(255, 255, 255, 0.5);
      transition: background-color 0.2s linear;
    }
  }

  @include media-query($on-laptop) {
    & {
      font-size: 2.5rem;

      a {
        text-decoration: none;
      }
    }
  }
}

.sidebar {
  * {
    line-height: 1.5;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: $font-family-bold;
    font-weight: normal;
  }

  h1 {
    font-size: 1rem;
  }

  h2 {
    font-family: $font-family-default;
    font-weight: normal;
    font-size: 0.9rem;
  }

  h4 {
    // font-size: $size-smallest;
    // text-transform: uppercase;
    // letter-spacing: 0.2em;
    // color: rgba($color-default, 0.3)
  }

  ul a {
    // background-color: #5F74E7;
    // color: #FAEEE4;
    // border-bottom: 1px solid #fff;

    // &:hover {
    //   border-bottom: none;
    // }
  }

  hgroup {
    a {
      &:hover, &:focus {
        color: $color-default;
      }
    }
  }

  * {
    font-size: 0.9rem;
  }
}

.page-content {
  ul:not(.nolist) {
    margin: $spacing / 2 0 $spacing / 2 $spacing / 2;

    li {
      padding: 0.2em 1em 0.2em 1.5em;
      list-style-position: inside;
      text-indent: -1.4em;
      line-height: 1.5em;

      &:before {
        content: "–";
        color: $color-default;
        margin-right: 0.75em;
      }
    }
  }

  h1, h2, h4, h5, h6 {
    font-family: $font-family-bold;
    font-weight: normal;
  }

  p, ul, address {
    font-size: 1rem;
    max-width: 40em;
    margin-bottom: 0.5em;

    em {
      font-family: $font-family-italic;
      font-style: normal;
      font-weight: normal;
    }

    @include media-query($on-tablet-portrait) {
      & {
        font-size: 1.2rem;
      }
    }

    @include media-query($on-tablet-landscape) {
      & {
        font-size: 1.3rem;
      }
    }

    a {
      text-decoration: underline;
      // background-color: rgba(255, 255, 255, 0.7);

      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}

a {
  color: $color-default;
  transition-duration: 0.1s;

  &:hover, &:focus {
    background-color: #5F74E7 !important;
    color: #FAEEE4;
    text-decoration: none;
  }
}